$breakpoints: (
  small: 0,
  medium: 480px,
  large: 840px,
  xlarge: 1280px,
  xxlarge: 1600px,
) !default;


@mixin breakpoint($size) {
	$value: 1 !default;
	@if type-of($size) ==  'string'{
		$value: map-get($breakpoints, $size);
	} @else {
		$value: $size;
	}	
	@media screen and (max-width: $value ) {
		@content;
	}
}