.select-box {
  .select-box__wrapper {
    position: relative;
    text-transform: capitalize;
  }
  select {
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    padding-top: 1.14286rem;
  }
  .select-box__dropdown {
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    padding-right: 2rem;
    background-color: transparent;
    border-radius: 0;
  }
  i {
    position: absolute;
    border: none;
    top: .5rem;
    right: 0;
    font-size: 2rem;
    color: #333333;
    transition: .5s all ease-in;
  }
  .select-box__dropdown-container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
    @include breakpoint(large) {
      width: calc(100vw - 6.2857rem);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      max-width: 400px;
      max-height: 90vh;
      min-height: 3rem;
      overflow: hidden;
      border-radius: 3px;
      &.searchable {
        top: 1.5rem;
        transform: translate(-50%, 0);
        .select-box__dropdown-list a {
          display: none;
          &.filtered {
            display: block;
          }
        }
      }
      &.open {
        margin: 0;
      }
    }
    &.open {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      margin-bottom: 3rem;
      .select-box__dropdown-list {
        display: block;
        margin: 0;
        @include breakpoint(large) {
          margin-top: 3rem;
          top: 0;
          &.search-visible {
            margin-top: 4.35rem;
          }
        }
      }
    }
  }
  .select-box__dropdown-header {
    position: fixed;
    padding: .5rem .75rem .75rem;
    width: 100%;
    background: #fff;
    z-index: 6;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    .select-box_dropdown-label {
      padding-top: .25rem;
    }
    .ui-textfield {
      padding-bottom: 0;
    }
    .mdl-textfield__input {
      padding: 0;
      height: 3rem;
      width: calc(100% - 2.5rem);
    }
    i {
      cursor: pointer;
      &.icon-close {
        padding-top: 0.725rem;
      }
    }
  }
  .select-box__dropdown-list {
    display: none;
    list-style: none;
    padding: 0;
    background-color: #fff;
    z-index: 3;
    max-height: 300px;
    overflow-y: auto;
    a {
      display: block;
      padding: .75rem;
      cursor: pointer;
      color: #263238;
      word-break: break-word;
      font-family: 'Helvetica';
      font-weight: 400;
      &.selected {
        background-color: #ddd;
      }
      &:hover,
      &:focus {
        background-color: #eee;
      }
      &:focus {
        outline: none;
      }
    }
    @include breakpoint(large) {
      max-height: 90vh;
      position: relative;
      top: 3rem;
    }
  }
  .mobile-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .35);
    z-index: 4;
  }
}
